<%- include('../partials/head') %> 
<body>
    <header>
        <%- include('../partials/header')  %>
    </header>
    <main>
        
            
        <h1>Productos</h1>
        <!--
        <div class="productos_nav">
            <a href="#" class="productos_nav_items">Más Vendidos</a>
            <a href="#" class="productos_nav_items">Categorías</a>
            <a href="#" class="productos_nav_items">Ofertas</a>
            <a href="#" class="productos_nav_items">Ofertas</a>
        </div>-->
        <div class="producto_detalle_container">
            <% products.forEach(function(producto) {%>
                <% if(idProduct== producto.id){ %>
                   
            <div class="producto_detalle_imagen">
                <img width="100%" src="/<%= producto.image%>" alt="">
            </div>
            <div class="producto_detalle_info">
                <h3><%= producto.name%></h3>
                <h4>Precio: $ <%= producto.price%></h4>
                <h4>Características:</h4>
                <p><%= producto.description%></p>
                <h4>Agregar al carrito<i class="fa-solid fa-cart-shopping"></i></h4>
            </div>
            <%}%>
            <%});%>
        </div>
        <div class="productos_container">
            <h1>Productos relacionados</h1>
            <section class="destacados">
                <article>
                    <img width="100%" src="/img/te_coladecaballo.jpg" alt="">
                    <div class="articulo-contenido">
                        <div class="articulo-venta">
                            <p class="precio">$6.770  - <i class="fa-solid fa-cart-shopping"></i></p>
                        </div>
                        <h4 class="description">Té - Cola de Caballo</h4>
                            <button class="ver_mas" >Ver más</button>
                        
                    </div>
                </article>
                <article>
                    <img width="100%" src="/img/te_tila.jpg" alt="">
                    <div class="articulo-contenido">
                        <div class="articulo-venta">
                            <p class="precio">$8.500  - <i class="fa-solid fa-cart-shopping"></i></p>
                        </div>
                        <h4 class="description">Té - Tila</h4>
                        <button class="ver_mas">Ver más</button>
                    </div>
                </article>
                <article>
                    <img width="100%" src="/img/te_canela.jpg" alt="">
                    <div class="articulo-contenido">
                        <div class="articulo-venta">
                            <p class="precio">$7.200  - <i class="fa-solid fa-cart-shopping"></i></p>
                        </div>
                        <h4 class="description">Té - Canela</h4>
                        <button class="ver_mas">Ver más</button>
                    </div>
                </article>
                <article>
                    <img width="100%" src="/img/te_salvia.jpg" alt="">
                    <div class=articulo-contenido>
                        <div class="articulo-venta">
                            <p class="precio">$6.200  - <i class="fa-solid fa-cart-shopping"></i></p>
                        </div>
                        <h4 class="description">Té - Salvia</h4>
                        <button class="ver_mas">Ver más</button>
                    </div>
                </article>
            </section>
            <h1>Ofertas</h1>
            <section class="destacados">
                <% products.forEach(function(producto) {%>
                    <div>
                            <% if(producto.category == 'oferta'){%>
                                <article>
                        <img width="100%" src="/<%= producto.image%>" alt="">
                        <div class="articulo-contenido">
                            <div class="articulo-venta">
                                <p class="precio">$ <%= producto.price  %>  - <i class="fa-solid fa-cart-shopping"></i></p>
                            </div>
                            <h4 class="description"><%= producto.name  %></h4>
                            <form action="/products/productDetail/<%= producto.id%>">
                                <button class="ver_mas" >Ver más</button>
                            </form>
                        </div>
                    </article>
                <% } %>
            </div>
            
            <%});%>
            </section>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>