<%- include('../partials/head') %> 
<body>
    <header>
        <%- include('../partials/header')  %>
    </header>
    <div class="slideshow-container">
        
        <div class="mySlides fade">
            <div class="numbertext">1 / 3</div>
            <img src="/img/slider_001.jpg" style="width:100%">
            <div class="text">Caption Text</div>
        </div>
        
        <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <img src="/img/slider_002.jpg" style="width:100%">
            <div class="text">Caption Two</div>
        </div>
        
        <div class="mySlides fade">
            <div class="numbertext">3 / 3</div>
            <img src="/img/slider_003.jpg" style="width:100%">
            <div class="text">Caption Three</div>
        </div>
        
    </div>
    <br>
    <div style="text-align:center">
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
    </div>
    <main>
        <h1>Productos Recomendados</h1>
        <section class="destacados">
            <% products.forEach(function(producto) { 
                if(producto.category == 'recomendado'){%>
                <article>
                    <img width="100%" src="img/<%= producto.image  %> " alt="">
                    <div class="articulo-contenido">
                        <div class="articulo-venta">
                            <p class="precio">$ <%= producto.price  %>  - <i class="fa-solid fa-cart-shopping"></i></p>
                        </div>
                        <h4 class="description"><%= producto.name  %></h4>
                        <button class="ver_mas">Ver más</button>
                    </div>
                </article>
            <% }}); %>
        </section>
    </main>
    <script>
        var slideIndex = 0;
        showSlides();

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";  
            }
            slideIndex++;
            if (slideIndex > slides.length) {slideIndex = 1}    
            for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";  
            dots[slideIndex-1].className += " active";
            setTimeout(showSlides, 2000); // Change image every 2 seconds
        }
    </script>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>