<%- include('../partials/head') %> 
<body>
    <header>
        <%- include('../partials/header')  %>
    </header>
    <main>
        <h1>Registro</h1>
        <div class="registro_container">
          <div class="registro_formulario">
            <form action="/register" method="post" enctype="multipart/form-data">


              <input 
              type="text" 
              name="username" 
              class=" form-control <% if(locals.errors && errors.username){%>
                <%= 'is-invalid'%>
                <% } %>"
              placeholder="Usuario "  
              value="<%= locals.oldData? oldData.username : null %>"
              >
             <% if(locals.errors && errors.username){%>
              <div class="text-danger">
                <p><%= errors.username.msg%></p>
             </div>
             <%}%>

              <input 
              type="text" 
              name="email" 
              class="form-control <% if(locals.errors && errors.email){%>
                <%= 'is-invalid'%>
                <% } %>" 
              placeholder="Email "  
              value="<%= locals.oldData? oldData.email : null %>">
              <% if(locals.errors && errors.email){%>
                <div class="text-danger">
                  <p><%= errors.email.msg%></p>
               </div>
               <%}%>

              <input 
              type="password" 
              name="password" 
              class="form-control <% if(locals.errors && errors.password){%>
                <%= 'is-invalid'%>
                <% } %>" 
               
              placeholder="Contraseña " >
              <% if(locals.errors && errors.password){%>
                <div class="text-danger">
                  <p><%= errors.password.msg%></p>
               </div>
               <%}%>

              <input 
              type="password" 
              name="confirmPassword" 
              class="form-control <% if(locals.errors && errors.confirmPassword){%>
                <%= 'is-invalid'%>
                <% } %>" 
                
              placeholder="Confirmar contraseña " >
              <% if(locals.errors && errors.confirmPassword){%>
                <div class="text-danger">
                  <p><%= errors.confirmPassword.msg%></p>
               </div>
               <%}%>
                
              <input type="file" name="avatar" id="avatar" class="registro_formulario_items">
              <% if(locals.errors && errors.avatar){%>
                <div class="text-danger">
                  <p><%= errors.avatar.msg%></p>
               </div>
               <%}%>
              <input class="registro_formulario_enviar" type="submit" value="Registrarme">
             
            </form>
          </div>
        </div>
        <div class="registro_iniciarsesion">
          <a href="#" class="registro_iniciarsesion_items">¿Ya tenés cuenta? Inicia Sesión</a>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <script src="https://kit.fontawesome.com/0cece3ed6e.js" crossorigin="anonymous"></script>
</body>
</html>